.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
}

.floating-shapes div {
  position: absolute;
  border-radius: 10px;
  opacity: 0.15;
  background: #fff;
  transform-origin: center;
  transition: 0.3s;
  filter: blur(10px);
}

.floating-shapes div:nth-child(3n) {
  border-radius: 50%;
}

.floating-shapes div:nth-child(3n + 1) {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.floating-shapes div:nth-child(3n + 2) {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
